In [3]:
import json
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

In [20]:
#importation du json 
with open('C:/Users/PC/Desktop/desktop/git/projets/python/Data-Analysis-Velib/station_status.json', 'r') as f:
    station_status = json.loads(f.read())
df_station_status = pd.json_normalize(station_status['data'], record_path=["stations"])

In [22]:
df_station_status

,stationCode,station_id,num_bikes_available,numBikesAvailable,num_bikes_available_types,num_docks_available,numDocksAvailable,is_installed,is_returning,is_renting,last_reported
0,16107,213688169,1,1,"[{'mechanical': 0}, {'ebike': 1}]",33,33,1,1,1,1645639734
1,11104,516709288,5,5,"[{'mechanical': 2}, {'ebike': 3}]",15,15,1,1,1,1645639555
2,9020,36255,8,8,"[{'mechanical': 1}, {'ebike': 7}]",13,13,1,1,1,1645639785
3,12109,37815204,11,11,"[{'mechanical': 8}, {'ebike': 3}]",19,19,1,1,1,1645639898
4,5001,100769544,39,39,"[{'mechanical': 31}, {'ebike': 8}]",6,6,1,1,1,1645639858
...,...,...,...,...,...,...,...,...,...,...,...
1434,32012,653046369,1,1,"[{'mechanical': 0}, {'ebike': 1}]",34,34,1,1,1,1645639809
1435,12105,101013666,22,22,"[{'mechanical': 18}, {'ebike': 4}]",19,19,1,1,1,1645639874
1436,9104,129026597,17,17,"[{'mechanical': 14}, {'ebike': 3}]",5,5,1,1,1,1645639801
1437,42004,368766689,20,20,"[{'mechanical': 19}, {'ebike': 1}]",9,9,1,1,1,1645639879
1438,4005,516395829,13,13,"[{'mechanical': 6}, {'ebike': 7}]",3,3,1,1,1,1645639888

In [18]:
'''importation du json station information donnant les attributs suivants:
array data contenant les informations suviantes:
-capacity : renseigne le nombre de bornes dans une station
- lat : définit la lattitude
- long : définit la longitude
- name: le nom de la station
- station_id: élement int unique désignant une station 

'''

with open('C:/Users/PC/Desktop/desktop/git/projets/python/Data-Analysis-Velib/station_information.json', 'r') as f:
    station_information = json.loads(f.read())
df_station_information= pd.json_normalize(station_information['data'], record_path=["stations"])

In [19]:
df_station_information

,station_id,name,lat,lon,capacity,stationCode,rental_methods
0,213688169,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,16107,NaN
1,516709288,Charonne - Robert et Sonia Delauney,48.855908,2.392571,20,11104,NaN
2,36255,Toudouze - Clauzel,48.879296,2.337360,21,9020,[CREDITCARD]
3,37815204,Mairie du 12Ã¨me,48.840855,2.387555,30,12109,NaN
4,100769544,Harpe - Saint-Germain,48.851519,2.343670,45,5001,[CREDITCARD]
...,...,...,...,...,...,...,...
1434,315022587,Malesherbes - Place de la Madeleine,48.870406,2.323244,67,8004,[CREDITCARD]
1435,101013666,Bercy - Villot,48.841795,2.376785,34,12105,[CREDITCARD]
1436,653046369,Carrefour Pleyel,48.920342,2.343854,36,32012,[CREDITCARD]
1437,478732841,Sebastopol - Rambuteau,48.861818,2.350138,16,4104,NaN
1438,129026597,Caumartin - Provence,48.874423,2.328469,22,9104,[CREDITCARD]

In [10]:
df

,stationCode,station_id,num_bikes_available,numBikesAvailable,num_bikes_available_types,num_docks_available,numDocksAvailable,is_installed,is_returning,is_renting,last_reported
0,16107,213688169,1,1,"[{'mechanical': 0}, {'ebike': 1}]",33,33,1,1,1,1645639734
1,11104,516709288,5,5,"[{'mechanical': 2}, {'ebike': 3}]",15,15,1,1,1,1645639555
2,9020,36255,8,8,"[{'mechanical': 1}, {'ebike': 7}]",13,13,1,1,1,1645639785
3,12109,37815204,11,11,"[{'mechanical': 8}, {'ebike': 3}]",19,19,1,1,1,1645639898
4,5001,100769544,39,39,"[{'mechanical': 31}, {'ebike': 8}]",6,6,1,1,1,1645639858
...,...,...,...,...,...,...,...,...,...,...,...
1434,32012,653046369,1,1,"[{'mechanical': 0}, {'ebike': 1}]",34,34,1,1,1,1645639809
1435,12105,101013666,22,22,"[{'mechanical': 18}, {'ebike': 4}]",19,19,1,1,1,1645639874
1436,9104,129026597,17,17,"[{'mechanical': 14}, {'ebike': 3}]",5,5,1,1,1,1645639801
1437,42004,368766689,20,20,"[{'mechanical': 19}, {'ebike': 1}]",9,9,1,1,1,1645639879
1438,4005,516395829,13,13,"[{'mechanical': 6}, {'ebike': 7}]",3,3,1,1,1,1645639888

,0,1,2,3,4,5,6,7,8,9,...,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438
0,"{'stationCode': '16107', 'station_id': 2136881...","{'stationCode': '11104', 'station_id': 5167092...","{'stationCode': '9020', 'station_id': 36255, '...","{'stationCode': '12109', 'station_id': 3781520...","{'stationCode': '5001', 'station_id': 10076954...","{'stationCode': '10013', 'station_id': 1230951...","{'stationCode': '8026', 'station_id': 12082788...","{'stationCode': '14111', 'station_id': 2510399...","{'stationCode': '6003', 'station_id': 37874517...","{'stationCode': '13007', 'station_id': 6649139...",...,"{'stationCode': '8002', 'station_id': 39440465...","{'stationCode': '15056', 'station_id': 3474297...","{'stationCode': '8004', 'station_id': 31502258...","{'stationCode': '13123', 'station_id': 1062807...","{'stationCode': '4104', 'station_id': 47873284...","{'stationCode': '32012', 'station_id': 6530463...","{'stationCode': '12105', 'station_id': 1010136...","{'stationCode': '9104', 'station_id': 12902659...","{'stationCode': '42004', 'station_id': 3687666...","{'stationCode': '4005', 'station_id': 51639582..."

In [26]:
velos

,lastUpdatedOther,ttl,data
stations,1645640933,3600,"[{'stationCode': '16107', 'station_id': 213688..."